<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="user-container">
        <h1>Datos del Usuario</h1>
        <div class="user-details">
            <p><b>Nombre:</b> {{user.first_name}}</p>
            <p><b>Apellido:</b> {{user.last_name}}</p>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Edad:</b> {{user.age}}</p>
            <p><b>Rol:</b> {{user.role}}</p>
        </div>
        {{#if user.cart.length}}
        <div class="user-cart">
            <h2>Carrito</h2>
            <ul>
                {{#each user.cart}}
                <li>ID de Carrito: {{this.cart}}</li>
                {{/each}}
            </ul>
        </div>
        {{else}}
        <p>No hay items en el carrito</p>
        {{/if}}
    </div>
</body>
</html>